/* golbal */
html,body,h1,h2,h3 {
	margin: 0;
	padding: 0;
}
a{ 
	text-decoration:none; 
	color: rgba(0, 0, 0, 0.38); 
} 
a:hover { 
	text-decoration:none; 
	color: rgba(0, 0, 0, 0.38); 
} 
a:focus {
	text-decoration:none; 
	color: rgba(0, 0, 0, 0.38); 
	outline: none;
}
html {
	/* min-width: 1366px; */
}
bodt {
	color: rgba(0, 0, 0, 0.87);
}

/* bootstrap */
.navbar {
	margin-bottom: 0;
}
.navbar-default {
	background-color: #fff;
	border-color: #fff;
}
.navbar-brand {
	padding: 8px 24px;
}

/* main */
section {
	text-align: center;
	padding-top: 65px;
	overflow: hidden;
}
section>h1 {
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	margin-bottom: 8px;
}
section>h1::before, section>h1::after {
	content:'';
	width:32px;
	height:4px;
	background:rgba(255,112,0,1);
	display: inline-block;
	position: relative;
	top: -5px;
	margin: 0 16px;
}
section h2 {
	font-size: 16px;
	line-height: 22px;
	color: rgba(0, 0, 0, 0.38);
}


/* banner */
.banner {
	width: 100%;
	height: 480px;
	background-color: #f2dbbc;
	padding-top: 0;
}
.banner>div {
	background:  url(../images/banner.png) no-repeat;
	background-position: 50% 0;
	background-size: auto 480px;
	padding-top: 0;
	width: 100%;
	height: 480px;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding-left: 80px;

}
.banner>div h1 {
	font-size: 34px;
	line-height: 44px;
	color: #f6683f;
}
.banner>div h2 {
	font-size: 24px;
	line-height: 44px;
	color: rgba(0, 0, 0, 0.87);
}
.banner>div button {
	width: 140px;
	height: 34px;
	border-radius:2px;
	border:1px solid rgba(0,0,0,0.38);
	font-size: 14px;
	margin-top: 30px;
	background: transparent;
	color: rgba(0,0,0,0.38);
}


/* .ecology */
.ecology_content {
	margin-top: 92px;
	display: flex;
	justify-content: space-between;
	text-align: center;
	max-width: 1280px;
	margin: 92px auto 0 auto;
}
.ecology_content .item img{
	width: 68px;
	height: 68px;
}
.ecology_content .item h2 {
	font-size: 18px;
	line-height: 32px;
	margin: 35px 0 16px 0;
}
.ecology_content .item p {
	font-size: 14px;
	line-height: 24px;
	width: 240px;
	color: rgba(0, 0, 0, 0.6);
}
.ecology button {
	width:160px;
	height:40px;
	border-radius:2px;
	border:2px solid rgba(0,0,0,0.38);
	font-size: 14px;
	margin: 94px 0 64px 0;
	color: rgba(0, 0, 0, 0.38);
	background: transparent;
}


/* .project */
.project {
	background:rgba(250,250,250,1);
}
.project_content {
	/* text-align: center; */
	margin: 40px 0 142px 0;
}
.project_content p {
	width: 960px;
	margin: 0 auto;
	text-align: left;
	font-size: 14px;
	line-height: 28px;
	text-indent: 2em;
	color: rgba(0, 0, 0, 0.6);
	padding: 24px;
}


/* .skill */
.skill_content {
	display: flex;
	justify-content: space-between;
	margin: 82px auto 107px auto;
	max-width: 1280px;
}
.skill_content .skill_left {
	text-align: left;
}
.skill_content .skill_right {
	text-align: left;
}
.skill_content .skill_meddle {
	display: flex !important;
	align-items: center;
}
.skill_content .item_bottom {
	margin-top: 191px;
}
.skill_content .item h1 {
	font-size: 16px;
	line-height: 22px;
	width: 280px;
	color: rgba(0, 0, 0, 0.6);
}
.skill_content .item p {
	font-size: 14px;
	line-height: 20px;
	width: 280px;
	margin-top: 25px;
	color: rgba(0, 0, 0, 0.6);
}


/* team */
.team {
	background:rgba(250,250,250,1);
}
.team_content {
	display: flex;
	justify-content: space-between;
	margin: 42px auto 134px auto;
	max-width: 1000px;
}
.team_content .item {
	width:360px;
	height:448px;
	background:rgba(255,255,255,1);
	box-shadow:0px 0px 12px 0px rgba(0,0,0,0.12);
	border-radius:2px;
	padding: 45px;
}
.team_content .item img {
	width: 128px;
}
.team_content .item span {
	display: block;
	font-size: 14px;
	line-height: 16px;
	margin-top: 40px;
	color: rgba(255, 112, 0, 1);
}
.team_content .item h3 {
	font-size: 20px;
	line-height: 24px;
	margin-top: 8px;

}
.team_content .item p {
	font-size: 14px;
	line-height: 20px;
	margin-top: 32px;
	text-align: left;
	color: rgba(0, 0, 0, 0.6);
}


/* footer */
footer {
	width: 100%;
	height: 64px;
	box-shadow:0px 1px 0px 0px rgba(0,0,0,0.12);
	padding: 0 80px;
}
footer>div {
	margin: 0 auto;
	max-width: 1280px;
	display: flex;
	justify-content: space-between;
}
footer span {
	font-size: 12px;
	line-height: 64px;
	display: inline-block;
	color: rgba(0, 0, 0, 0.38);
}


@media (max-width: 1000px) {
	.project_content p {
		width: 768px;
	}
}
@media (max-width: 768px) {
	html {
		min-width: auto;
	}
	
	/* bootstrap */
	.navbar-brand {
		padding: 8px 24px;
	}
	.navbar-right {
		margin-right: -15px;
	}

	/* banner */
	.banner>div{
		background: url(../images/banner1.jpg);
		background-position: 50% 0;
		background-size: auto 480px;
		padding-top: 0;
		padding-left: 20px;
		text-align: left;
	}

	
	/* ecology */
	.ecology_content {
		flex-direction: column;
		align-items: center;
		margin-top: 40px;
	}
	.ecology_content .item {
		margin-top: 30px;
	}


	/* project */
	.project_content p {
		width: 100%;
	}


	/* skill */
	.skill_content {
		flex-direction: column;
		align-items: center;
		margin-top: 40px;
	}
	.skill_content .item h1 {
		width: 100%;
		padding: 0 24px;
		text-align: center;
	}
	.skill_content .item p {
		width: 100%;
		padding: 0 24px;
	}
	.skill_content .skill_bottom {
		margin-top: 0;
	}
	.skill_content .item {
		margin-top: 30px;
		text-align: left;
	}


	/* team */
	.team_content {
		flex-direction: column;
		align-items: center;
	}
	.team_content .item {
		margin-top: 30px;
	}



	/* footer */
	footer {
		padding: 0 30px;
	}
}
















